.ant-tree-treenode-selected::before {
    background: #0066CC !important;
    border-radius: 8px;
}

.ant-tree-treenode-selected:hover {
    border-radius: 8px;
}   

.ant-tree-node-content-wrapper{
    /* 超出部分隐藏， */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:where(.css-dev-only-do-not-override-1l6l2ek).ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-node-content-wrapper:before, :where(.css-dev-only-do-not-override-1l6l2ek).ant-tree.ant-tree-directory .ant-tree-treenode-selected .ant-tree-node-content-wrapper:hover:before{
    background: #0066CC !important;
}