body {
  color: var(--semi-color-text-0);
  background-color: var( --semi-color-bg-0);
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#root{
  height: 100%;
}
html{
  height: 100vh;
}

/* 修改全局滚动条样式，滚动条背景透明，滚动条最小 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--semi-color-bg-0);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
